In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('50_Startups.csv')

In [3]:
df = pd.get_dummies(df,drop_first=True)

In [4]:
df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [5]:
y = df['Profit']

In [6]:
df.drop('Profit',axis=1,inplace=True)

In [7]:
X = df.iloc[:,:]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [9]:
X = X.rename(columns={"R&D Spend": "R&D_Spend","Marketing Spend":"Marketing_Spend","State_New York":"State_New_York"})

In [10]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred = lr.predict(x_test)

In [12]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)

In [13]:
score

0.9290807131536416

In [2]:
import pickle
file = open('multiple_linear_regression.pkl','wb')
pickle.dump(lr,file)

NameError: name 'lr' is not defined

In [4]:
import joblib
from joblib import Parallel, delayed
# saved_model = pickle.dumps(lr)


# Save the model as a pickle in a file
# joblib.dump(lr, 'filename.pkl')

In [8]:

# Load the model from the file
knn_from_joblib = joblib.load('filename.pkl')

# Use the loaded model to make predictions
knn_from_joblib.predict([[1234,2334,678,0,1]])

c:\Users\Prince\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([51585.9347244])

In [22]:
knn_from_pickle = pickle.loads(saved_model)

In [23]:
knn_from_pickle.predict(x_test)

array([101080.06740438,  74607.91078002,  84064.78007472,  70661.90366106,
       173739.01242912, 114724.33001551,  99903.43265104,  98590.54059859,
        74137.41936526, 112749.0597477 ])

In [24]:
x_train

    R&D_Spend  Administration  Marketing_Spend  State_Florida  State_New_York
49       0.00       116983.80         45173.06              0               0
20   76253.86       113867.30        298664.47              0               0
18   91749.16       114175.79        294919.57              1               0
22   73994.56       122782.75        303319.26              1               0
5   131876.90        99814.71        362861.36              0               1
43   15505.73       127382.30         35534.17              0               1
33   55493.95       103057.49        214634.81              1               0
13   91992.39       135495.07        252664.93              0               0
36   28663.76       127056.21        201126.82              1               0
14  119943.24       156547.42        256512.92              1               0
26   75328.87       144135.98        134050.07              1               0
19   86419.70       153514.11             0.00              0               1
16   78013.11       121597.55        264346.06              0               0
27   72107.60       127864.55        353183.81              0               1
31   61136.38       152701.92         88218.23              0               1
12   93863.75       127320.38        249839.44              1               0
35   46014.02        85047.44        205517.64              0               1
45    1000.23       124153.04          1903.93              0               1
2   153441.51       101145.55        407934.54              1               0
9   123334.88       108679.17        304981.62              0               0
25   64664.71       139553.16        137962.62              0               0
17   94657.16       145077.58        282574.31              0               1
10  101913.08       110594.11        229160.95              1               0
48     542.05        51743.15             0.00              0               1
24   77044.01        99281.34        140574.81              0               1
6   134615.46       147198.87        127716.82              0               0
40   28754.33       118546.05        172795.67              0               0
34   46426.07       157693.92        210797.67              0               0
42   23640.93        96189.63        148001.11              0               0
32   63408.86       129219.61         46085.25              0               0
47       0.00       135426.92             0.00              0               0
0   165349.20       136897.80        471784.10              0               1
8   120542.52       148718.95        311613.29              0               1
30   61994.48       115641.28         91131.24              1               0
46    1315.46       115816.21        297114.46              1               0
39   38558.51        82982.09        174999.30              0               0
11  100671.96        91790.61        249744.55              0               0
44   22177.74       154806.14         28334.72              0               0
1   162597.70       151377.59        443898.53              0               0
21   78389.47       153773.43        299737.29              0               1

In [18]:
model = pickle.load()

EOFError: Ran out of input